<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @post.タイトル %>
</p>

<p>
  <strong>内容:</strong>
  <%= @post.内容 %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
